@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply h-2 w-1;
    /* width: 20px; */
    /* height: 20px; */
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-700;
    /* border-radius: 100vh; */
    /* background: #f7f4ed; */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full border-white bg-gray-900/50 hover:bg-gray-100;
  }

  /* .scrollbar::-webkit-scrollbar-thumb:hover { */
  /*   @apply bg-gray-100; */
  /* } */
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms ease-in;
  background-color: rgba(0, 0, 0, 0.3);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
